<!doctype html>
<html lang="en">
<head>
  <meta charset="{{ resource.meta.charset }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">

  <link rel="shortcut icon" href="/favicon.ico" />

  {% import "fonts.j2" as fonts with context %}

  {% block css %}
  {% include 'css.j2' %}
  {{ fonts.css() }}
  {% endblock css %}

  {% block headjs %}
  {{ fonts.js() }}
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}

  <header>
  {% block header %}
    <center><h1>
      <span class="logo"></span><br/>
      Fl<span class="kern-ow">o</span>wers of the<br/> <span class="kern-He">H</span><span class="kern-es">e</span>sperid<span class="kern-es">e</span>s
    </h1></center>

    <nav>
    {% from "macros.j2" import render_nav, render_social with context %}
    {{ render_nav(menu) }}
    </nav>

    <div class="social">
         {{ render_social() }}
    </div>
    </header>

    <div class="banner-background">
      <div class="banner">
        <img src="{{ media_url('images/logo-w.svg') }}" alt="Logo"/>
        <span class="social">
          {{ render_social() }}
        </span>
      </div>
    </div>
  {% endblock %}

 <section class="content">
  {% filter markdown|typogrify %}
  {% block main %}
  {% endblock main %}
  {% endfilter %}
  </section>

  <footer>
  {% block footer %}
  {%- endblock footer %}
  </footer>

  {% endblock content %}

  {% block js %}
  {% endblock js %}
</body>
</html>
